<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Все люди</title>
</head>
<body>

<div th:each=" person : ${people}">
  <a th:text="${person.getFio()+', '+person.getYearPerson()}"
     th:href="@{/people/{id}(id=${person.getIdPerson()}) }"
  >user</a>
</div>
<!--th:href="@{ /people/{id}(id=${person.getIdPerson()}) }"-->
<br>
<hr/>
<a href="/people/new">Создать</a> <br>



</body>
</html>